/*
Creator: Dylan Carlson
Date created: June 11, 2019
Date last modified: 
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #0d1f2d;
	max-width: 900px;
	margin: 0 auto;
}

section {
	background-color: #c6e0ff;
	overflow: auto;
}

article p {
	padding-right: 20px;
	padding-left: 20px;
}

.clear-float {
    clear: both;
}

header, footer {
	background-color: #bcab79;
	color: #fffff0; /* Color Hex Ivory */
	height: 100px;
	text-align: center;
	padding: 30px 10px;
	border: 2px solid #2978a0;
}

h1 { /* Restaurant Name */
	font-family: Impact, Charcoal, sans-serif;
	font-size: 2.5em;
}

nav {
	border-bottom: 2px solid #2978a0;
}

nav a {
	background-color: #253031;
    color: #c6e0ff;
    padding: 8px;
    border: thin solid #253031;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 10px 20px 25px 10px;
    width: 100px;
    float: left;
}

nav a:visited {
    color: #fffff0; 
}

nav a:hover {
    background-color: #2978a0;
    color: #fffff0; 
    font-weight: bold;
}

nav a:active {
    font-weight: bold;
}